<!doctype html>
<html lang="zh">
  <head>
    <script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/static/js/md5.js"></script>
  </head>
  <body>
    <div class="main">
      <input name="username" placeholder="账号" type="text"><br>
      <input name="password" placeholder="密码" type="password"><br>
      <button id="login-button">登录</button>
    </div>
    <script type="text/javascript">$('#login-button').click(function() {
        var username = $("input[name='username']").val().trim();
        var password = $("input[name='password']").val().trim();
        var data = {username: md5(username),password: md5(md5(password) + '_bt.cn')}
        $.post('/login', data,function(rdata) {
          if (rdata.status) {
            window.location.href = '/';
          } else {
            window.alert(rdata.msg);
          }
        });
      });</script>
  </body>
</html>
